<div id="about-banner"></div>
<div class="author">
  <div class="head">
    <img src="/css/images/avatar.jpg" />
  </div>
  <h3><%- config.author %></h3>

  <% if (typeof(config.about.description) === 'object') { %>
    <% for (var i in config.about.description) { %>
      <p class="description">
        <%- config.about.description[i] %>
      </p>
    <% } %>
  <% } else { %>
    <p class="description"><%- config.about.description %></p>
  <% } %>

  <section class="share-icons">
    <% if (config.about.facebook_username) { %>
      <a class="icon-facebook" href="http://www.facebook.com/<%- config.about.facebook_username %>" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    <% } %>
    <% if (config.about.twitter_username) { %>
      <a class="icon-twitter" href="https://twitter.com/<%- config.about.twitter_username %>" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    <% } %>
    <% if (config.about.github_username) { %>
      <a class="icon-github" href="https://github.com/<%- config.about.github_username %>" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-github fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    <% } %>
    <% if (config.about.linkedin_username) { %>
      <a class="icon-linkedin" href="https://www.linkedin.com/in/<%- config.about.linkedin_username %>" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    <% } %>
    <% if (config.about.zhihu_username) { %>
      <a class="icon-zhihu" href="https://www.zhihu.com/people/<%- config.about.zhihu_username %>" target="_blank">
    <% } %>
    <% if (config.about.google_username) { %>
      <a class="icon-google" href="https://plus.google.com/<%- config.about.google_username %>" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    <% } %>
    <% if (config.about.blogger_username) { %>
      <a class="icon-blogger" href="https://<%- config.about.blogger_username %>.blogspot.com" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-google fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    <% } %>
    <% if (config.about.douban_username) { %>
        <a class="icon-douban" href="https://www.douban.com/people/<%- config.about.douban_username %>" target="_blank">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-stack-1x fa-inverse">豆</i>
            </span>
        </a>
    <% } %>
  </section>
</div>

<script>
  (function () {
    $('.header').removeClass('fixed-header')
    var windowH = $(window).height();
    var author = $('.author')
    var bodyH = author.offset().top + author[0].offsetHeight + 71;
    if (bodyH < windowH) {
      author.css({
        'margin-bottom': windowH - bodyH
      })
    }
  })();
</script>
